<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><div class="center">
    <div class="heading">
    <h1>Your Booking is sussesful</h1>
    <h2> We will send you your Booking details Shortly</h2>

</div>

<div class="thanking">
    <span class="thanku">Thankyou</span>
     for booking From VOYAGE VENTURE

</div>
<div>
    Go To <a href="/Destination_path">Destination path</a>
</div>
</div>
</body>
</html>