<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
   <title>Book Buses</title>
   
    
</head>

<body>
    <nav>

    </nav>
    <div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/WhatsApp Image 2022-11-18 at 7.48.41 PM.jpeg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h4> Indigo Airlines</h4></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 80</p>
                <p>Pay in Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹1999</h3></p>
                <form action="/select_flights" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>
                <p>use e-cash ₹250</p>
                <p><a href="">Flight DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/WhatsApp Image 2022-11-18 at 7.50.15 PM.jpeg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>Indian Airlines</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 45</p>
                <p>Pay in Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹2999</h3></p>
                <form action="/select_flights" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>
                 <p>use e-cash ₹500</p>
                <p><a href="">Flight DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/WhatsApp Image 2022-11-18 at 7.51.42 PM.jpeg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>Spice Jet</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 45</p>
                <p>Pay 35% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹999</h3></p>
               <form action="/select_flights" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>
                 <p>use e-cash ₹50</p>
                <p><a href="">Flight DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/vistara.jpg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>Vistara</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 30</p>
                <p>Pay 25% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹3999</h3></p>
                <form action="/select_flights" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>
                  <p>use e-cash ₹300</p>
                <p><a href="">Flight DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div ">
                <img src="images/truejet.jfif" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>TruJet</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 40</p>
                <p>Pay 25% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹1999</h3></p>
                <form action="/select_flights" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>
                <p>use e-cash ₹50</p>
                <p><a href="">Flight DETAILS</a></p>
            </div>
        </div>
    </div>

</body>

</html>