<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
   <title>Book Buses</title>
   
    
</head>

<body>
    <nav>

    </nav>
    <div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/hans-travel.jpg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h4> HANS TRAVELS, INDORE</h4></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 40</p>
                <p>Pay 15% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹1999</h3></p>
                <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>
                <p>use e-cash ₹250</p>
                <p><a href="">BUS DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/Kallada_Travels.jpg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>KALLADA TRAVELS, JABALPUR</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 45</p>
                <p>Pay 50% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹2999</h3></p>
               <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form> <p>use e-cash ₹500</p>
                <p><a href="">BUS DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/paulo-bus.jpg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>PAULO TRAVELS,JABALPUR</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 45</p>
                <p>Pay 35% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹999</h3></p>
               <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form> 
                <p>use e-cash ₹50</p>
                <p><a href="">BUS DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/volvo-bus-rental-service-250x250.png" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>Nandan travels ,INDORE</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 30</p>
                <p>Pay 25% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹3999</h3></p>
                
               <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>
                 <p>use e-cash ₹300</p>
                <p><a href="">BUS DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div ">
                <img src="images/volvo-bus.jpg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>MB travels ,Lalitpur</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 40</p>
                <p>Pay 25% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹1999</h3></p>
               <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form> <p>use e-cash ₹50</p>
                <p><a href="">BUS DETAILS</a></p>
            </div>
        </div>
    </div>

</body>

</html>