<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
   <title>Book Cab</title>
   

    
</head>

<body>
    <nav>

    </nav>
    <div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/Kia-SUV-India-2.jpg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>Kia - SUV</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 4</p>
                <p>Pay 25% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹5499</h3></p>
                <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>  <p>use e-cash ₹500</p>
                <p><a href="">CAR DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/2016-Toyota-C-HR-exterior-static-8-e1479105090829-1200x630.webp" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>Toyota motors</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 4</p>
                <p>Pay 20% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹4999</h3></p>
                <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>  <p>use e-cash ₹500</p>
                <p><a href="">CAR DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/maxresdefault.jpg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>Mahindra Thar</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 6</p>
                <p>Pay 35% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹6999</h3></p>
               <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>  <p>use e-cash ₹500</p>
                <p><a href="">CAR DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div">
                <img src="images/bullet.jpg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>Royal Infield</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 2</p>
                <p>Pay 25% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹3999</h3></p>
               <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>  <p>use e-cash ₹500</p>
                <p><a href="">BIKE DETAILS</a></p>
            </div>


        </div>
        <div class="look_box">
            <div class="vehical_image_div ">
                <img src="images/tata.jpg" class="vehical_image" alt="">
            </div>
            <div class="vehical_name">
                <p><h5>Tata Nexon</h5></p>
            </div>
            <div class="distance">
                <p>Distance 750 km</p>
                <p> max sheet 4</p>
                <p>Pay 25% Advance</p>
            </div>
            <div class="fare_details">
                <p><h3>₹5999</h3></p>
               <form action="/Select_buses" method="post">
                <p><button type="submit" class="btn btn-outline-danger"><h3>Book Now</h3> </button></p>
                </form>  <p>use e-cash ₹500</p>
                <p><a href="">CAR DETAILS</a></p>
            </div>
        </div>
    </div>

</body>

</html>