
<div class="navdiv">
  <div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="/Destination_path">Voyage Venture</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Destination_page">flights</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link " href="/Buses">Buses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/Trains">Train</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Cabes">Cabes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/packages">Packages</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
               My Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">My Booking </a></li>
                <li><a class="dropdown-item" href="#">My Refund</a></li>

               <button type="button" class="btn btn-danger"><a href="/register" class="loginbtns">LOGOUT</a></button>

                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">For Travel agent</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Support
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Talk to us</a></li>
                <li><a class="dropdown-item" href="#">Contact us</a></li>
                <li><a class="dropdown-item" href="#">Make a payment</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Complete package</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link ">offers</a>
            </li>

          </ul>
      
    </div>
  </nav>
</div>
</div> 